<%- include("template/cabecera", {tituloWeb: 'Crear Nueva Mascota'}) %>
    <div class="container">
        <h1>Crear</h1>
        <form action="">
            <input
                type="text"
                placeholder="Agregar Nombre de la  Mascota"
                class="form-control my-2"
            >
            <input
                type="text"
                placeholder="Agregar Descripcion de la  Mascota"
                class="form-control my-2"
            >
            <button
                class="btn btn-success btn-block" 
                type="submit"     
            >
            Agregar Mascota
            </button>
        </form>
    </div>
<%- include("template/footer") %>