<%- include("template/cabecera", {tituloWeb: 'Detalle de la mascota con el ID seleccionado'}) %>
    <div class="container">
        <h1>Detalle de la Mascota la cual usted selecciono el ID</h1>
    </div>
<%- include("template/footer") %>