<%- include("template/cabecera", {tituloWeb: 'Editar la Mascota Seleccionada'}) %>
    <div class="container">
        <h1 id="peneprueba"><%= mascota.nombre %></h1>
        <h2>hola</h2>
    </div>
<%- include("template/footer") %>

